# yaakiyu all requirements - このファイルを読み込むだけでpypiからいろんなパッケージをダウンロードするもの。
Django
Flask
MouseInfo
MySQLer
Pillow
PyAutoGUI
PyCaret
PyGetWindow
PyMsgBox
PyNaCl
PyRect
PyScreeze
aiofiles
aiohttp
aiomysql
async-timeout
attrs
autoviz
bs4
captcha
cefpython3
cffi
chardet
cleantext
clr-loader
python-dateutil
deep-translator
dislash.py
drawdata
emoji
gTTS
git+https://github.com/Rapptz/discord.py
h11
h2
hpack
hstspreload
httpcore
hyperframe
iclawler
idna
jishaku
matplotlib
multidict
niconico.py
numpy
opencv-contrib-python
openpyxl
orjson
pickle
pillow
proxy-tools
psutil
pycparser
pyopenjtalk
pyperclip
pypng
pyqrcode
python-Levenshtein
python-vlc
pythonnet
pytube
pytweening
pytz
pywebview
reprypt
rfc3986
sanic[ext]
six
sklearn
sniffio
speedtest-cli
topggpy
tweepy
twint
typing-extensions
ujson
websockets
wxpython
xmltodict
yarl
youtube_dl
astunparse
beautifulsoup4
braceexpand
certifi
charset-normalizer
click
colorama
import-expression
itsdangerous
Jinja2
MarkupSafe
oauthlib
packaging
playsound
PyMySQL
pyparsing
PyQRCode
PyQt5
PyQt5-Qt5
PyQt5-sip
QtPy
requests
requests-oauthlib
soupsieve
typing_extensions
urllib3
Werkzeug
youtube-dl
